[Unit]
Description=Updates vault credentials

[Timer]
OnBootSec=5min
OnCalendar=hourly
Persistent=true
Unit=update-vault-credentials.service

[Install]
WantedBy=timers.target