[Unit]
Description=Updates vault credentials
Wants=update-vault-credentials.timer

[Service]
EnvironmentFile=/etc/default/vault_creds
Type=oneshot
User=root
ExecStart=/usr/local/bin/update-vault-credentials.sh

[Install]
WantedBy=multi-user.target